#sitemap_content {margin-left: 20px; text-align:left;}
#sitemap_content .sitemap_block h3,
#sitemap_content .categTree h3 {margin: 20px 0 0 0}

#sitemap_content div.sitemap_block {
   float: left;
   min-height: 120px;
   padding: 0;
   width: 33%
}

#sitemap_content div.sitemap_block ul {
    list-style-type:none;
    margin:0;
}

#sitemap_content div.sitemap_block li a {
    display: block;
    padding: 2px 0 2px 14px;
    color: #333;
	background: url(../images/arrow_right_2.png) no-repeat 0 8px transparent;
    font-size: 14px;
}

#sitemap_content div.sitemap_block li a:hover {
    color:#fb3c3c;
}

#listpage_content {margin: 40px 0 20px 20px; text-align:left;}
#listpage_content div.categTree {
   display: inline-block;
   vertical-align: top;
   min-width: 23%;
   padding-bottom:40px;
   margin-left: -5px;
   padding-right: 20px;
}
#listpage_content div.tree_top {
   padding: 3px 0 5px 24px;
   background: url(../images/sitemap-top.gif) no-repeat -1px -3px transparent
}

#listpage_content ul {
    list-style-type:none; margin:0; padding-top: 4px;
    padding-left: 0;
    }

#listpage_content ul.tree li {
   margin:0;
   margin-left: 11px;
   padding-left: 20px;
   border-left: 1px dotted #999;
   background: url(../images/sitemap-horizontal.png) no-repeat left 10px transparent;
   font-size: 14px;
}
#listpage_content ul.tree li.last {
   border: medium none;
   background: url(../images/sitemap-last.gif) no-repeat -12px -2px transparent
}

#listpage_content ul.tree li a {
    color:#333;
}

#listpage_content ul.tree li a:hover {
    color:#fb3c3c;
}

#sitemap_content h3, #listpage_content h3 {
    font-size: 16px;
    padding-bottom: 8px;
}

.categTree h3{
    margin: 0;
    line-height: 14px;
    padding: 0 0 0 2px !important;
}