.loginform {
    float: right;
    display:inline-block;
    margin: 1% 10px 0 10px;
    text-align: right;
}

.login_left {
    /*float: left;*/
    display:inline-block;
    margin-right: 11px;
    text-align:left;
}

.login_left span {
    font-family: arial;
    font-size: 12px;
	color:#232323;
}

.login_right {
    /*float: left;*/
    display:inline-block;
    text-align: left;
}

.login_left > input[type="text"] {
    border: 1px solid #cdd7dd;
    border-radius: 5px;
    box-shadow: 1px 3px 4px #e7ecef inset;
    color: #7e7e7e;
    font-family: arial;
    padding: 8px;
    width: 250px;
	-webkit-box-shadow:inset 1px 3px 4px #e7ecef;
	-moz-box-shadow:inset 1px 3px 4px #e7ecef;
	box-shadow:inset 1px 3px 4px #e7ecef;
}

.login_right > input[type="password"] {
    border: 1px solid #CDD7DD;
    border-radius: 5px 0px 0px 5px;
    padding: 8px;
    width: 200px;
	color: #7e7e7e;
    font-family: arial;
	box-shadow:inset 1px 3px 4px #e7ecef;
	-moz-box-shadow:inset 1px 3px 4px #e7ecef;
	-webkit-box-shadow:inset 1px 3px 4px #e7ecef;
}

.login_right a{
     font-family: arial;
     font-size: 12px;
     color:#232323;
     text-decoration:none;
     display:inline-block;
     padding:5px 0 0 0;
     width:100%;
}

.login_right a:hover{
    color:#6D6D6D;
}

.login_right > input[type="submit"] {
    background: none repeat scroll 0 0 #53A9E9;

    border-top:1px solid #3F8AC4;
    border-bottom: 1px solid #3F8AC4;
    border-top: 1px solid #3F8AC4;
    border-left: 1px solid #3F8AC4;
    border-radius: 0 5px 5px 0;

    color: #FFFFFF;
    font-family: arial;
    font-weight: bold;
    height: 33px;
    width: 77px;
	cursor:pointer;
}

.login_right > input[type="submit"]:hover {
    background: #80BFED;
    border:none;
}



@media only screen and (max-width: 920px){
.loginform {
    width:100%;
    float:none;
    display:block;
    text-align:center;
}

.loginform {
    margin: 10px 0;
}
.login_left {
    text-align:right;
}
}

@media only screen and (max-width: 650px){
    .login_left input[type='text'] {
        width: 90% !important;
    }

    .login_right input[type='password'] {
        width: 60% !important;
    }

    .login_left {
        margin-right: 5px;
        width: 48%;
    }

    .login_right {
        width: 48%;
    }
}

@media only screen and (max-width: 550px){
    .login_left input[type='text'] {
        width: 220px !important;
    }

    .login_right input[type='password'] {
        width: 143px !important;
    }

    .login_left {
        margin: 2px 0;
        width: 100%;
        display:block;
        text-align:center;
    }

    .login_right {
        width: 100%;
        display:block;
        text-align:center;
    }

    .login_left input[type='checkbox'], .login_left span {
        display:none;
    }
}


@media only screen and (min-width: 920px) and (max-width: 1024px) {
.loginform {
    float: right;
    width: 52%;
}
.login_left > input[type="text"]{ width:178px;}
.login_right > input[type="password"]{width:158px;}
}